{% extends "listings/base.html" %}

{% block content %}
    <h1>Annonces</h1>
    <p>J'ai {{ lists|length }} annonces répertoriés.</p>
    <p>Voici la liste des annonces :</p>
    <ul>
        {% for listss in lists %}
        <li>
            <a href="{% url 'listings-detail' listss.id %}">{{ listss.description }}</a>
            - <a href="{% url 'listings-update' listss.id %}">[modifier]</a>
            - <a href="{% url 'listings-delete' listss.id %}">[supprimer]</a>

        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'listings-create' %}">Creer un nouvel article</a>

{% endblock %}